.card{
    margin: 10px 20px 20px 20px !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: none !important;
    border-right: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* box-shadow: 0 25px 30px rgba(51, 99, 121, 0.555); */
}

.card-text{
    color: white !important;
}


.heading, .home-title{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 1.75rem !important;
}

.card .ant-statistic-content {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 700 !important;
}
.card .ant-statistic-title{
    color: rgba(255, 255, 255, 0.8) !important;
}

.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-more{
    margin-top: 0px !important;
    padding: 0 5px;
    color: rgba(24,144,255, 1) !important;
    font-size: 1.3rem !important;
}

.show-more:hover{
    color: rgba(255,255,255, 0.8) !important;
    text-decoration: underline;
}

@media screen and (max-width: 800px){
    .home-title{
        font-size: 1.4rem !important;
    }

    .show-more{
        font-size: 1rem !important;
    }
}

/* @media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
} */
