.crypto-page-header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.crypto-page-heading{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 1.75rem !important;
    margin-bottom: 5px !important;
}

.crypto-page-search{
    width: 210px;
}

.crypto-card-container{
    min-height: 65vh !important;
}

.crypto-card{
    min-width: 250px;
}

.coin-card{
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: none !important;
    border-right: none !important;
    background-color: rgba(255, 255, 255, 0.75) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.coin-card p{
    font-weight: 500;
}

.ant-card-head-title {
    font-size: 1.2rem;
}

.crypto-card .crypto-image{
    width:35px;
}
