.nav-container{
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden; */
    margin: 0;
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-container{
    /* background-color: #001529; */
    background-color: #001d3a;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.logo{
    margin:0 0 0 10px !important;
    color: white !important;
}
.logo a{
   color: white;
}

.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    color: white !important;
    font-size: 1.3rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.menu-list{
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 1.1em !important;
    font-weight: 600;
}

.inactive {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

@media screen and (max-width:800px){
    .nav-container{ 
        border-right: none;
    }

    .menu-control-container{
        display: block !important;
    }

    .menu-list{
        background-color: rgba(0, 29, 58, 0.8) !important;
        width: 100% !important;
    }
}