.nav-container{
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; */
    margin: 0;
    height: 100vh;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-container{
    /* background-color: #001529; */
    background-color: #001d3a;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.logo{
    margin:0 0 0 10px !important;
    color: white !important;
}
.logo a{
   color: white;

}

.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.menu-list{
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 1.1em !important;
    font-weight: 600;
}


@media screen and (max-width:800px){
    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .menu-list{
        background-color: rgba(0, 29, 58, 0.9) !important;
        width: 100vw !important;
    }
}