.exchange-page-header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.exchange-page-heading{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 1.75rem !important;
    margin-bottom: 5px !important;
}

.exchange-page-search{
    width: 210px;
}

.exchange-card{
    margin: 10px 5px !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-bottom: none !important;
    border-right: none !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.exchange-card .ant-collapse-item{
    border: none !important;
}
.exchange-card .ant-typography {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

.exchange-col-header{
    margin: 10px 5px !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.8) !important;
    background-color: rgba(255, 255, 255, 0.75) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
}


.exchange-image{
    margin: 0px 10px !important;
}