/* :root{
  --text-primary:#000;
  --bgPrimary: #001d3a;
  --bgSecondary: #1890ff;
  --light-blue: #e6f7ff;
} */

a:hover{
  color: var(--pink) !important;
}

.app{
  /* display: flex; */
  background-image: url("/src/images/ccryptocurrency-bg-3.png");
  background-attachment: fixed;
}

.navbar{
  /* flex: 0.15; */
  height: 100vh;
  width: 210px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  /* overflow: hidden; */
}

.main{
  /* flex: 0.85; */
  margin-left: 210px;
  overflow-x: hidden;
  height: 100vh;
}

.layout{
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 20px;
}

.footer {
  box-sizing: content-box;
  width: 100%;
  background-color: #001d3a;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

@media screen and (max-width:800px){
  .navbar{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
  }

  .main{
    flex: 1;
    margin-top: 70px;
    margin-left: 0px;
  }

  .layout{
    padding: 20px;
  }
}
