.select-news{
    margin: 20px auto 10px auto !important;
    width: 250px !important;
    border-radius: 10px !important;
}

.news-card{
    min-height: 300px !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: none !important;
    border-right: none !important;
    background-color: rgba(255, 255, 255, 0.55) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.news-card p{
    color: black;
    margin: 10px 0px !important;
}

.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}

.news-image-container .img{
    width:100px;
    height:100px;
}

.news-title{
    width: 70%;
}

.provider-container{
    display: flex;
    justify-content: space-between;
}

.provider-name{
    margin-left: 10px;
}
