.news-page-header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.news-page-heading{
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 1.75rem !important;
    margin-bottom: 5px !important;
}

.news-page-select{
    width: 210px !important;
    border-radius: 10px !important;
}

.news-card{
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
    border-bottom: none !important;
    border-right: none !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.news-card p{
    color: black;
    margin: 10px 0px !important;
}

.news-image{
    width:100px;
    height:100px;
    margin-left: 10px !important;
}

.news-title, .news-info {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.news-title:hover{
    color: #1475cf;
}

.news-info {
    -webkit-line-clamp: 2;
}

@media screen and (max-width:1170px){
    .news-image{
        width:80px;
        height:80px;
        margin-left: 5px !important;
    }
}

@media screen and (max-width:800px){
    .news-image{
        width:100px;
        height:100px;
        margin-left: 5px !important;
    }
}